/******************/
/* GLOBAL STYLES */
/******************/

body, html {
    margin: 0;
    background: #323232;
}

body, label, button, input {
    font-family: "GothamRoundedMedium";
    font-weight: 400;
    color: #FFF;
}

.section {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: table;
}

.section.intro {
    background: url("../img/gear_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section.signup {
    background: url("../img/sign_up_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
    display: table-cell;
    vertical-align: middle;
}

#main_logo {
    max-width: 70%;
    max-height: 300px;
}

h1#headline {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .35rem;
    padding: 3rem;
    line-height: 2.5rem;
}

#subheadline {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    font-family: "GothamRoundedBook";
    font-weight: 300;
    letter-spacing: .05rem;
}

/******************/
/* BUTTON STYLES */
/******************/

button#sign_up,
input#mc-embedded-subscribe.button,
input#mc-embedded-subscribe.button:focus,
input#mc-embedded-subscribe.button:hover {
    background: rgba(200,43,55,1);
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    letter-spacing: .3rem;
    padding: 1rem 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: auto;
    font-family: "GothamRoundedMedium";
    font-weight: 400;
    margin: 0;
}

button#sign_up {
    margin: 2rem;
}

button#sign_up:hover,
input#mc-embedded-subscribe.button:hover {
    background: white;
    color: rgba(200,43,55,1);
}

/****************/
/* FORM STYLES */
/***************/

#mc_embed_signup{
    display: inline-block;
    padding: 2rem;
    background: rgba(0,0,0,.6);
    border-radius: 15px;
    margin-bottom: 2rem;
}

#mc_embed_signup input.required,
#mc_embed_signup input:focus {
    font-family: "GothamRoundedLight";
    font-weight: 300;
    font-size: 1.3rem;
    background: none;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    width: 250px;
    padding: .75rem;
    margin-bottom: 2.25rem;
}

label {
    padding: 0rem 0rem .75rem 0rem;
    text-align: left;
    display: block;
}

.required_label {
    float: right;
    color: rgba(200,43,55,1);
    letter-spacing: .2rem;
    font-size: .75rem;
    line-height: 1rem;
}

@media (max-width: 420px) {
    #main_logo {
        max-width: 70%;
    }
    #mc_embed_signup input.required,
    #mc_embed_signup input:focus {
       width: 200px;
    }
    h1#headline {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .35rem;
        padding: 1rem 1rem;
    }

}

@media (max-height: 640px) {
    #main_logo {
        max-height: 150px;
    }

    h1#headline {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .35rem;
        padding: 1.5rem 1.5rem;
    }
}
